In [1]:
# import dependencies
import pandas as pd
import psycopg2
import sqlalchemy
import numpy as np
import matplotlib as plt

%matplotlib inline

In [2]:
# connect Postgres db 
from sqlalchemy import create_engine

In [3]:
# the username and pw is 'postgres'
engine = create_engine("postgresql://postgres:postgres@localhost:5432/CitiBike")
conn = engine.connect()

In [4]:
# test the conn with simple query
tables = pd.read_sql("SELECT * from information_schema.tables WHERE table_catalog = 'CitiBike' AND table_schema = 'public'", conn)
tables.head(50)

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,CitiBike,public,january_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
1,CitiBike,public,feb_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
2,CitiBike,public,march_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
3,CitiBike,public,april_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
4,CitiBike,public,may_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
5,CitiBike,public,may_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
6,CitiBike,public,april_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
7,CitiBike,public,march_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
8,CitiBike,public,feb_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
9,CitiBike,public,january_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
10,CitiBike,public,june_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
11,CitiBike,public,june_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
12,CitiBike,public,july_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
13,CitiBike,public,july_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
14,CitiBike,public,august_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
15,CitiBike,public,august_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
16,CitiBike,public,september_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
17,CitiBike,public,september_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
18,CitiBike,public,october_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
19,CitiBike,public,october_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
20,CitiBike,public,nov_2019,BASE TABLE,None,None,None,None,None,YES,NO,None
21,CitiBike,public,nov_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
22,CitiBike,public,dec_2018,BASE TABLE,None,None,None,None,None,YES,NO,None
23,CitiBike,public,cumulative,BASE TABLE,None,None,None,None,None,YES,NO,None

You will notice the tables have poor naming choices: instead of using a sortable name like 01_2018, I went with january_2018 and so on... don't make this mistake.

### Combine the tables into a single table in postgres

This step assumes all (23) tables have been created with the necessary data types and they do not have a primary key
Also the csv's have all been imported into postgres as well
First we need to add a primary key because I did not do this yet

### The below code is done in pgadmin 

SELECT * FROM september_2019; --choose any table to copy the format

CREATE TABLE cumulative AS TABLE september_2019 WITH NO DATA; --test that we now have a blank table with matching headers

SELECT * FROM cumulative;

-- primary key id add 

ALTER TABLE cumulative ADD COLUMN id SERIAL NOT NULL;

ALTER TABLE cumulative ADD PRIMARY KEY (id);